.section-container, .header-container {
    padding: 4% 4% 4% 4%;
}

.intro-info {
    margin-top: 10%;
}

.intro-info h1 {
    color: #333;
}

.header-container h2 {
    padding-top: 16%;
    padding-bottom: 10%;
}

.list {
    font-size: .8em;
    padding: 8% 4% 0 4%;
    display: block;
}

.list-item {
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 25%;
    font-size: 1.5em;
}

.work-section {
    padding-top: 4%;
}

.work-tiles {
    display: block;
    text-align: left;
    font-size: 0px;
    margin-top: 4%;
    background-color: #F06B5B;
}

.work-tiles-images {
    display: inline-block;
    width: 100%;
    padding: 0px;
    position: relative;
}

.tile {
    display: inline-block;
    position: relative;
    width: 100%;
}

.recent-work {
    font-size: 0;
}

.curtain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background: #3c346d;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

.curtain:hover {
    opacity: .8;
    display: block;
}

.about-section {
    color: #fff;
    background-color: #3c346d;
}

.about-section h2 {
    color: #fff;
}

.list ul {
    font-family: "Raleway";
}

.list h3, .list ul {
    color: #fff;
}

.list h3 {
    border-top: none;
    padding-bottom: 10px;
    border-bottom: 2px #fff solid;
}

.curtain h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    margin-left: -50%;
}

.progressiveMedia {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /*height: 100%;*/
    margin: auto;
    box-sizing: border-box;
}

.img-preload {
    -webkit-filter: blur(50px);
    filter: blur(50px);
    transition: all 1s linear;
}

.img-preload.loaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

@media (min-width: 640px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
        line-height: 40px;
    }

    p {
        font-size: 2em;
        margin-top: 5%;
    }

    .section-container, .header-container {
        padding: 4% 16% 4% 4%;
    }

    .header-container h2 {
        padding-bottom: 0;
        padding-top: 4%;
    }

    .intro-info {
        margin-top: 5%;
    }

    .list {
        font-weight: 200;
        font-size: 1.1em;
        padding: 0;
        display: block;
    }

    .list-item {
        width: 30%;
        font-size: 1em;
        padding-bottom: 0;
    }

    .tile {
        width: 25%;
    }
}