@layer components {
  .jumbotron {
    height: 20rem;
    position: relative;
    overflow: hidden;
    /* background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%)); */
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    /* background:
      linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
    /* background:
      linear-gradient(217deg, rgba(197, 197, 197, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(127deg, rgba(226, 226, 226, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(128, 128, 128, 0.8), rgba(0, 0, 255, 0) 70.71%); */
  
    transition: height 0.3s linear;
  
    /* Use clamp */
    @media (min-width: 46rem) and (max-width: 64rem) {
      height: 40rem;
    }
  
    @media (min-width: 46rem) and (max-width: 96rem) {
      height: 50rem;
    }
  
    @media (min-width: 96rem) {
      height: 60rem;
    }
  }
  
  .name {
    font-size: clamp(7rem, 20vw, 14rem);
    font-weight: 700;
  }
  
  .section {
    padding: 4% 4% 4% 4%;
  }
  
  .header {
    padding: 4% 4% 4% 4%;
  
    h2 {
      padding-top: 16%;
      padding-bottom: 10%;
    }
  }
  
  .contact {
    --contactColor: #3c346d;
    height: 5rem;
    width: 5rem;
    color: var(--contactColor);
    background-color: #fff;
    border: 0.3rem solid var(--contactColor);
  
    &:hover {
      color: #fff;
      background-color: var(--contactColor);
    }
  }
  
  .intro {
    margin-top: 5%;
  
    h1 {
      color: #333;
    }
  }
  
  .about {
    color: #fff;
    background-color: #3c346d;
  }
  
  /* need to remove this */
  .about h2 {
    color: #fff;
  }
  
  .grid ul {
    font-family: "Raleway";
  }
  
  .grid h3, .grid ul {
    color: #fff;
  }
  
  .grid h3 {
    border-top: none;
    padding-bottom: 10px;
    border-bottom: 2px #fff solid;
  }
  
  .grid {
    font-size: 1.6rem;
    padding: 8% 4% 0 4%;
    display: block;
  }
  
  .gridItem {
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 25%;
    font-size: 1.6rem;
  }
  
  @media (min-width: 640px) {
    h1 {
      font-size: 3.5rem;
    }
  
    h2 {
      font-size: 2rem;
      line-height: 40px;
    }
  
    p {
      font-size: 2rem;
      margin-top: 5%;
    }
  
    .section, .header {
      padding: 4% 16% 4% 4%;
    }
  
    .header h2 {
      padding-bottom: 0;
      padding-top: 4%;
    }
  
    .intro-info {
      margin-top: 5%;
    }
  
    .grid {
      font-weight: 200;
      font-size: 1.6rem;
      padding: 0;
      display: block;
    }
  
    .gridItem {
      width: 30%;
      font-size: 1.2rem;
      padding-bottom: 0;
  
      ul {
        padding: 10% 40% 10% 0;
        font-weight: 400;
      }
    }
  
    .tile {
      width: 25%;
    }
  }  
}