// Brand Colors
$glance-color: #ffcd60;
$glance-color-primary: $glance-color;
$glance-color-secondary: #91a4ce;
$glance-color-red: #fe004f;

$white-color: #fff;
$default-color: #333;
$default-color-2: #444;
$muted-color: #4a4a4a;
$muted-color-2: #8f8e94;